.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-left: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: 1rem;
  width: 250px;
  height: 500px;
}

.loading {
  align-self: center;
  margin-top: 200px;
}
